{% extends "gists/base.html" %}
{% block specific_content %}

    <form class="d-flex" method="POST">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="github_user">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <br><br>

    {% if gists %}
        <h2 style="text-align: center">{{gist_owner}}'s Gists</h2>
        <div style="text-align: center;">
            <img class="rounded-circle" style=" height: 110px; width: 110px" src="{{gist_owner_avatar}}">
        </div>
        <br><br>

        <table class="table">
            {% for gist in gists %}
                <tr>
                    <td style="text-align: center; vertical-align: middle;"><h5>{{gist.description}}</h5></td>
                    <td style="text-align: center; vertical-align: middle;">
                    {% for file in gist.files %}
                        <div>
                            <a class="btn btn-link" href="{{file.raw_url}}">{{file.filename}}</a>
                        </div>
                    {% endfor %}
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                    {% for tag in gist.file_tags %}
                        <div>
                            <button type="button" class="btn btn-outline-success mb-2">{{tag}}</button>
                        </div>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}

{% endblock specific_content %}